@Html.AntiForgeryToken()
<!-- Default form login -->
<html>
<head>    
</head>
<body>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <div class="form-control col-sm-6 text-center border-light p-5">
        <form class="text-center border border-light p-5" action="/Login/Autentica" method="post">

            <p class="h4 mb-4">Entrar</p>

            <!-- Email -->
            <input type="text" id="login" name="login" class="form-control" placeholder="Usuário">

            <!-- Password -->
            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Forgot password -->
                    <a href="">Esqueceu a senha?</a>
                </div>
            </div>
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>

