

<form action="/Materia/Adiciona" method="post">
    <div align="left">
        <h3>CADASTRO DE MATÉRIA</h3>
    </div>
    <label for="nome">Nome:</label>
    <input id="nome" name="materia.Nome" class="form-control" value="" />
    <br />
    <input type="Submit" value="Cadastrar" />
</form>
<br />
<br />



@model IList<ControleRotasMvc.Models.Materia>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var materia in Model)
            {
                <tr>
                    <td>@materia.Id</td>
                    <td>@materia.Nome</td>
                </tr>
            }
        </tbody>
    </table>
</div>