
<head>
    <h3>CADASTRO DE MATÉRIAS</h3>
</head>
<br />

<form action="/Materia/Adiciona" method="post">

    <div class="row">
        <div class="col-md-1" align="justify">
            <label for="nome">Nome:</label>           
        </div>
        <div class="col-md-4">
            <input id="nome" name="materia.Nome" value="" class="form-control" />
        </div>
            <div class="col-md-4">
                <input class="btn btn-primary" id="btnSave" align-baseline="right" type="submit" value="Cadastrar" />
            </div>
        </div>
</form>