@model IQueryable<ControleRotasMvc.Models.Empresa>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="listaEmpresas">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empresa in Model)
                {
                    <tr>
                        <td>@empresa.Id</td>
                        <td>@empresa.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
