@model IList<ControleRotasMvc.Models.Financeiro>

<head>
    <div align="left">
        <h3>OPERACIONAL</h3>
    </div>
</head>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pessoa</th>
            <th>Valor</th>
            <th>Vencimento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var documento in Model)
        {
            <tr>
                <td>@documento.Id</td>
                <td>@documento.AlunoId</td>
                <td>@documento.Valor</td>
                <td>@documento.Vencimento</td>
            </tr>
        }
    </tbody>
</table>