@model IList<ControleRotasMvc.Models.Financeiro>

<head>
    <div align="left">
        <h3>OPERACIONAL</h3>
    </div>
</head>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pessoa</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Situação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var documento in Model)
        {
            <tr>
                <td>@documento.Id</td>
                <td>@documento.AlunoId</td>
                <td>R$@documento.Valor</td>
                <td>@documento.Vencimento</td>
                @if (documento.Situacao == 0)
                {
                    <td>Aberto</td>
                }
                else if (documento.Situacao == 1)
                {
                    <td>Liquidado</td>
                }
                <td><button class="btn btn-primary">Liquidar</button></td>
                <td><button class="btn btn-info">Alterar</button></td>
                <td><button class="btn btn-danger" onclick=@Html.ActionLink("Excluir", "Deletar", new { id = documento.Id })</button></td>

            </tr>

        }
    </tbody>
</table>
